html, body {
  font-family: "Segoe UI";
  font-weight: lighter;
  -webkit-text-stroke: 1px #acacacaa;
}

.Overlay {
  transition: background-color 0.25s ease;
  position: fixed; 
  display: block; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 10; 
}

.App {
  background-color: #191919;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(3vmin);
  color: rgb(231, 231, 231);
  height: 100%;
}


.Body {
  position: relative;
  min-width: 700px;
  min-height: 200vh;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #2c2c2c;
}

.Header {
  position: relative;
  text-align: left;
  line-height: 0px;
  border-bottom: 2px solid #ababab;
  border-radius: 5px;
  margin: 5% 0 2.5% 0;
  width: 90%;
  text-indent: 5%;
  margin-left: 5%;
}

.Header > p {
  margin: 0 0 0.5em 0;
  padding-left: 5%;
}

.Title {
  position: relative;
  width: 100%;
  text-align: center;
}

.Title > p {
  display: inline;
  text-align: center;
}

.Title > .Undertext {
  text-align: center;
  display: block;
  opacity: 75%;
}

.Paragraph {
  display: inline-block;
  margin: 0 5% 0 5%;
  width: 90%;
  padding: 0 0 0% 0;
  font-size: calc(2vmin);
  text-indent: 7.5%
}

.Date {
  display: inline;
  position: absolute;
  left: 90%;
  margin-left: -2%;
  font-size: x-small;
}

.Code {
  position: unset;
  z-index: 0;
  margin: 0 5% 0 5%;
  font-size: 0.75em;
}

.Link {
  color: darkcyan;
  text-decoration: none;
  margin: auto;
}

.Link::before {
  content: " ";
}

.Link::after {
  content: " ";
}

.Link:hover {
  color: cyan;
}

.Image {
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.Image > img {
  margin-top: 5%;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  margin-bottom: 2.5%;
}

.ImageEnlarged {
  position: relative;
  transform: scale(2.5);
  display: inline-block;
  transition: transform 0.25s ease;
  cursor: zoom-out;
  z-index: 20;
  margin-bottom: 100%;
}

.Image > * {
  margin: auto;
  max-width: 75%;
  display: block;
  text-align: center;
  margin-bottom: 2.5%;
  font-size: smaller;
}

.Bullet {
  margin: auto;
  text-indent: 50px;
}
